*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    background-color: rgb(235, 233, 233);
    width: 100vw;
}
nav{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100vw;
}
.logo{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.input{
margin-left: 2vw;
padding: 2px 5px;
}
input{
    padding: 20px;
    width: 50vw;
    border: none;
    background-color: rgba(230, 238, 243, 0.958);
    height: 20px;
    border-radius: 8px;
    font-size: 16px;
}
.profile{
    display: flex;
    padding: 20px;
    align-items: center;
}
img{
    cursor: pointer;
}
.name{
   padding-left:5px;
   cursor: pointer;
}
.name:hover{
    transform: scale(1.08);
}
.section{
    margin-top: 8px;
    background-color: white;
    align-items: center;
    padding: 4px;
    padding-bottom: 1px;
    width: 97vw;
    
}
.images{
   margin-left: 5vw;
   align-items: center;
   display: flex;
   justify-content: space-evenly;
}
.info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 60px;
}
footer{
    background-color: black;
    padding-bottom: 100px;
    width: 100vw;
    
}
.headings{
    padding-top: 20px;
    color: rgb(143, 131, 131);
    display: flex;
}
.headings p{

    margin-left: 90px;
    margin-right: 50px;
}

.infr{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.768);
    display: flex;
    justify-content: space-evenly
    j
    
}
pre{;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.section1{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.imgs1{
    width: 97vw;
}
.section2{

    margin-bottom: 50px;
    padding-bottom: 0px;
}
.imgs{
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-left: 25px;
    
}
.side{
    background-color:transparent;
    margin-top: 15px;
}
.main{
    display:flex;
    justify-content: center;
    width: 97vw;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 25px;
    
}
.side1{
    width: 230px;
    height: 400px;
}
section h2{
    padding:20px 80px;  
}
.p1{
    width: 20vw;
}
.p1:hover{
    cursor: pointer;
    border: 2px solid rgb(170, 156, 156);

}
.s1{
    display: flex;
    justify-content: center
}
